
@model IEnumerable<EmployeeCards.Models.DbModels.RegisterCard>
@{
    ViewBag.Title = "Employee Cards";
}


<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <table>
            <tr>
                <th>#</th>
                <th>Должность</th>
                <th>Сотрудник</th>
                <th>Оклад</th>
                <th>Дата назначения</th>
                <th>Дата увольнения</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RegisterId</td>
                    <td>@item.Position.Title</td>
                    <td>@string.Format("{0} {1}", item.Employee.LastName, item.Employee.FirstName)</td>
                    <td>@item.Salary</td>
                    <td>@DateTime.Parse(item.DateFrom.ToString()).ToString("MM'/'dd'/'yyyy")</td>
                    <td>@item.DateTo</td>
                </tr>
            }
        </table>
    </div>
</div>