
@model IEnumerable<EmployeeCards.Models.DbModels.RegisterCard>
@{
    ViewBag.Title = "Employee Cards";
}


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <table>
            <tr>
                <th>#</th>
                <th>Должность</th>
                <th>Сотрудник</th>
                <th>Оклад</th>
                <th>Дата назначения</th>
                <th>Дата увольнения</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.PositionId.Title</td>
                    <td>@string.Format("{0} {1}", item.EmployeeId.LastName, item.EmployeeId.FirstName)</td>
                    <td>@item.Salary</td>
                    <td>@item.DateFrom</td>
                    <td>@item.DateTo</td>
                </tr>
            }
        </table>
    </div>
</div>